@font-face 
{
  font-family: "Gaming";
  src: local("PressStart2P Regular"),
  local("PressStart2P-Regular"),
  url(PressStart2P-Regular.ttf); 
  }
  @keyframes blinking_text
  {
    0%{     visibility: visible;    }
    49%{    visibility: visible;   }
    60%{    visibility: hidden;  }
    99%{    visibility: hidden;    }
    100%{   visibility: visible;    }
}

body
 {    
  background: repeating-linear-gradient(  
    #1d1d1d,
    #090b13 2px,
    #242942 2px,
    #10121d 4px
  );   
    font-family:'Gaming';
    margin:auto;
    color:whitesmoke; 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefi */
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
    margin-bottom: 50px;
    margin-top:140px;
    width:auto;  
    margin-right:auto;
    margin-left:auto; 
    text-align: center;
  }
  
  .square {
    font-family:'Gaming';
    background: transparent;
    border: 2px solid rgba(108, 206, 149,1); 
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -2px;
    margin-top: -2px;
    padding: 0;
    text-align: center;
    width: 100px;
    height: 100px;   
    color:whitesmoke; 
    text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;     
    align-items: center;
    justify-content: center;
  }

  #board
  {
    justify-content: center;
    width:300px;
    clear:both;
    margin:auto;  
  }

  .winner, .status
  {
    font-size: 50px;   
  }
  .winner
  {
    text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
    margin-top:50px;
    text-align: center;
    width:auto;  
    margin-right:auto;
    margin-left:auto; 
    animation:blinking_text 0.9s infinite;
  }
  .game-info {
    margin-left: 20px;
  }

  .resetButton
  {   
    margin-top:50px;
    width:100%;
    height:auto;
    color:whitesmoke;    
    background-color: transparent;
    border:none;
    font-size: 50px; 
    font-family:Gaming;
    text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
    letter-spacing: 20px; 
    text-align: center; 
  }

  .resetButton:hover
  {
    color:yellowgreen;
  }  